.flatpickr-calendar {
  display: flex;
  background: #f5f5f5;
  border-radius: 8px;
  margin-top: 8px;
  width: 280px;
  height: 352px;
  padding: 16px;
}
.flatpickr-months {
  margin: 0 auto;
  padding: 0;
  margin: 16px;
  width: 248px;
}
.flatpickr-calendar .flatpickr-months {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px auto;
  width: 248px;
}
.flatpickr-months .flatpickr-month {
  height: 20px;
  max-width: 216px;
}
.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
  position: relative;
  padding: 0;
  height: 16px;
}
.flatpickr-current-month {
  padding: 0;
  height: 20px;
  font-size: 100%;
  width: fit-content;
}
.flatpickr-months .flatpickr-prev-month svg,
.flatpickr-months .flatpickr-next-month svg {
  width: 16px;
  height: 16px;
}
.flatpickr-current-month .flatpickr-monthDropdown-months,
.flatpickr-current-month input.cur-year {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #333;
  width: fit-content;
}

.flatpickr-current-month input.cur-year {
  padding: 0;
  width: 39px;
}
.flatpickr-innerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flatpickr-weekdays {
  display: flex;
  justify-content: center;
}

.flatpickr-weekdays .flatpickr-weekdaycontainer {
  width: 242px;
}
.flatpickr-weekdaycontainer {
  display: flex;
  justify-content: center;
}

span.flatpickr-weekday {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #2e2f42;
  text-align: center;
  /* &:not(:last-child) {
    margin-right: 13px;
  } */
}
.flatpickr-days {
  max-width: 248px;
  width: 248px;
}
.dayContainer {
  display: flex;
  flex-wrap: wrap;
  min-width: auto;
  max-width: 248px;
  width: 248px;
  gap: 0;
  justify-content: space-around;
}
.flatpickr-day {
  max-width: 32px;
  max-height: 32px;
  width: calc((100%) / 7);
  /* border-radius: 50%; */
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 32px;
  color: #666;
  cursor: pointer;
  &:hover,
  &:focus {
    background: #c1c1c1;
    outline: none;
  }
  &.today {
    border: 1px solid #4e75ff;
  }
  &.selected {
    background: #4e75ff;
    color: #fff;
  }
}
