.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 360px;
}
.form label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.input-wrapper {
  position: relative;
}
.form input[type='number'] {
  outline: none;
  width: 360px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  padding: 8px 16px;
  transition: all 0.2s ease-in-out;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &:hover {
    border: 1px solid #000;
  }
  &:focus {
    border: 2px solid #4e75ff;
  }
  &:hover + .input-controls,
  &:active + .input-controls,
  &:focus + .input-controls {
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
  }
}
.input-controls {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 4px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
}
.form fieldset {
  display: flex;
  flex-direction: row;
  gap: 48px;
  align-items: center;
  justify-content: center;
  padding-top: 14px;
  border-radius: 4px;
  stroke-width: 1px;
  stroke: #808080;
  transition: all 0.2s ease-in-out;
  &:hover {
    border-color: #000;
  }
}
.form fieldset label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  &:hover,
  &:checked {
    cursor: pointer;
  }
  &:hover svg {
    stroke: #000;
  }
}

.form fieldset label svg {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  fill: none;
  stroke: #757575;
}

.form fieldset label input {
  opacity: 0;
  &:checked + svg {
    fill: #4e75ff;
    border-radius: 50%;
    border: 1px solid #4e75ff;
    height: 20px;
    width: 20px;
    flex-shrink: 0;
    margin: 6px 14px 6px 6px;
  }
}
.form button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  &:hover {
    background: #6c8cff;
  }
}
