#datetime-picker {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 271px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  transition: 200ms ease-in;
  margin-right: 4px;
  &:hover,
  &:focus {
    border: 1px solid #000;
  }
  &:active {
    border: 1px solid #4e75ff;
  }
  &:disabled {
    background: #fafafa;
    border: 1px solid #808080;
    color: #808080;
    cursor: not-allowed;
  }
}

.start-btn {
  background-color: #4e75ff;
  max-width: 75px;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  padding: 8px 16px;
  letter-spacing: 0.04em;
  transition: 200ms ease-in;
  &:hover,
  &:focus {
    background: #6c8cff;
  }
  &:disabled {
    background: #cfcfcf;
    color: #989898;
  }
}

.timer {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 32px;
  width: fit-content;
}

.field {
  text-align: center;
}

.value {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2e2f42;
  text-transform: uppercase;
}
